* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEE;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
    /* This defines the em size */
}

.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Mobile Layout */
@media only screen and (max-width:414px){
    .sticky h2{
        font-size: 1.7em;
    }
}

/* Tablet Layout */
@media only screen and (min-width: 415px) and (max-width: 960px) {

    .universetext aside{
        width: 50%;
        height: 100%;
    }
    .starsgallery, .nebulaetext article, .nebulaegallery {
        height: 100%;
    }

    hgroup, .sticky {
        flex-direction: column;
    }

    .sticky h2{
        font-size: 2em;
    }
}
  
/* Desktop Layout */
@media only screen and (min-width: 961px) {
    .universetext article{
        height: 100%;
    }

    .starsgallery, .nebulaegallery{
        height: 100%;
    }

    hgroup, .sticky {
        flex-direction: column;
    }
}

/* === Header Info === */

header.universe {
    width: 100%;
    height: 87vh;
    background: url(../images/galaxy2-large.jpg) no-repeat fixed center;
    background-size: cover;
    color:#FFF;
    padding: 2em;
}

header.planets {
    width: 100%;
    height: 87vh;
    background: url(../images/earth-large.jpg) no-repeat fixed center; 
    background-size: cover;
    color:#FFF;
    padding: 2em;
}

header.stars {
    width: 100%;
    height: 87vh;
    background: url(../images/sun-large.jpg) no-repeat fixed center; 
    background-size: cover;
    color:#FFF;
    padding: 2em;
}

header.nebulae {
    width: 100%;
    height: 87vh;
    background: url(../images/nebula-large.jpg) no-repeat fixed center; 
    background-size: cover;
    color:#FFF;
    padding: 2em;
}

/* === Header Info === */

/* === Hgroup Info === */

hgroup.universe {
    padding: 1em;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 3px #000;
}

hgroup.planets {
    padding: 1em;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 3px #000;
}

hgroup.stars {
    padding: 1em;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 3px #000;
}

hgroup.nebulae {
    padding: 1em;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 3px #000;
}

/* === Hgroup Info === */

/* === Headline Info === */
@keyframes pop-in {
    0% {
      opacity: 0;
      transform: translatez(-50vw) scale(.2);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}

.animate-pop-in {
    animation: pop-in 0.8s ease-out;
}

header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vmax;
    line-height: 5vmax;
}

header h2 {
    font-size: 1.5vmax;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-size: 2vmax;
    line-height: 2em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5vmax;
    line-height: 2em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

/* === Headline Info === */

/* === Sticky Nav === */

.sticky{
    width: 100%;
    height: 7em;
    position: sticky;
    top: 0;
    background: url(../images/stars-bg.jpg);
    border: 1px solid rgb(118, 105, 201);
    text-align: center;
}

.sticky h2 {
    color: #EEE;
    margin-top: 0.5em;
    line-height: 1em;
}

.sticky nav{
    display: flex;
    gap: 0.5em;
}

.sticky nav a{
    color: #EEE;
    padding: 0.8em;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid rgb(118, 105, 201);
    transition: all 0.2s ease-out;
}

.sticky nav a:hover{
    background-color: rgb(118, 105, 201);
    font-weight: bold;
    text-decoration: underline;
}

/* === Sticky Nav === */

/* === Text === */

.under{
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.universetext{
    text-align: left;
}

.universetext article {
    flex: 3;
    padding: 2em;
    background-color: #EEE;
}

.universetext aside {
    flex: 1;
    background-color: darkslateblue;
    padding: 2em;
    line-height: 1.5em;
}

.universetext article p {
    margin-bottom: 1em;
    line-height: 1.7em;
    font-size: 1.2em;
}

.universepullq {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    border-left: solid 30px rgb(37, 31, 77);
    line-height: 1.5em;
    margin-top: 3em;
    padding: 0.5em 1em;
    color: #EEE;
    background: url(../images/stars-bg.jpg);
}

.planetstext{
    text-align: left;
}

.planetstext article {
    flex: 3;
    padding: 2em;
}

.planetstext aside {
    background-color: #3270A6;
    padding: 3em;
    line-height: 1.5em;
}

.planetstext article p {
    margin-bottom: 1em;
    line-height: 1.7em;
    font-size: 1.2em;
}

.planetspullq {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    border-left: solid 30px #1b3c5a;
    line-height: 1.5em;
    margin-top: 1em;
    padding: 0.5em 1em;
    color: #EEE;
    background: url(../images/stars-bg.jpg);
}

.starstext{
    text-align: left;
}

.starstext article {
    flex: 3;
    padding: 2em;
}

.starstext aside {
    flex: 3;
    background-color: #f34e12;
    padding: 2em;
    line-height: 1.5em;
}

.starstext article p {
    margin-bottom: 1em;
    line-height: 1.7em;
    font-size: 1.2em;
}

.starspullq {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    border-left: solid 30px #a53208;
    line-height: 1.5em;
    margin-top: 3em;
    padding: 0.5em 1em;
    color: #EEE;
    background: url(../images/stars-bg.jpg);
}

.nebulaetext{
    text-align: left;
}

.nebulaetext article {
    flex: 2;
    padding: 2em;
}

.nebulaetext aside {
    flex: 2;
    background-color: #D9A404;
    padding: 2em;
    line-height: 1.5em;
}

.nebulaetext article p {
    margin-bottom: 1em;
    line-height: 1.7em;
    font-size: 1.2em;
}

.nebulaepullq {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    border-left: solid 30px #8d6b04;
    line-height: 1.5em;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0.5em 1em;
    color: #EEE;
    background: url(../images/stars-bg.jpg);
}

/* === Text === */

/* === Gallery === */

.universegallery {
    min-height: 50vh;
    height: auto;
    justify-content: space-evenly;
    background-image: url(../images/stars-bg.jpg);
    padding: 2em;
    border: 1px solid rgb(118, 105, 201);
}

.universegallery div {
    width: 300px;
    height: 300px;
    justify-content: center;
    margin: 1em;
}

.planetsgallery {
    flex: 1;
    justify-content: space-evenly;
    background-image: url(../images/stars-bg.jpg);
    border: 1px solid rgb(118, 105, 201);
}

.planetsgallery div {
    height: auto;
    justify-content: center;
    padding: 2em;
}

.starsgallery {
    flex: 1;
    justify-content: space-evenly;
    background-image: url(../images/stars-bg.jpg);
    border: 1px solid rgb(118, 105, 201);
}

.starsgallery div {
    height: auto;
    justify-content: center;
    padding: 2em;
}

.nebulaegallery {
    flex: 1;
    justify-content: space-evenly;
    background-image: url(../images/stars-bg.jpg);
    border: 1px solid rgb(118, 105, 201);
}

.nebulaegallery div {
    height: auto;
    justify-content: center;
    padding: 2em;
}

/* === Gallery === */

footer {
    background-color: #333;
    color: #EEE;
    font-style: italic;
    text-align: center;
    padding: 1em;
}